.cards  {
    display:flex;
    flex-wrap: wrap;
    margin:0px
   
}

.but{
    border-radius: 5px;
    border-color:transparent;
    background: #aad576; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', "Geneva", "Verdana", "sans-serif";
    font-size: 16px;
    font-weight: bold;
}
.but:hover {
    background: #e8aa14;
    color: white;
}